 .slider-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    }

/* 调整文字样式 */
.slider-label {
    margin-top: 0px;
    margin-bottom: 0px; /* 文字与滑块的间距 */
    font-size: 16px;
    }      
    /*滑块条*/
input[type="range"] {
    width: 300px;         /* 轨道长度 */
    height: 15px;         /* 轨道粗细 */
    -webkit-appearance: none; /* 清除默认样式 */
    background: #ddd;     /* 轨道颜色 */
    border-radius: 15px;  /* 圆角轨道 */
     /*margin:  5px 0;*/
     }

      /* 滑块拇指 */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;         
    height: 20px;        
    background: #4CAF50; 
    border-radius: 20%;  /* tuo圆形拇指 */
    cursor: pointer;     /* 可有可无 */
        }
        
      /* 数值显示样式 */
.sliderValue {
   font-size: 24px;
   color: #4CAF50;
   font-weight: bold;
        }